


.collapsible label{
    /* position: relative; */
    font-weight: 600;
    /* background: rgb(60, 60, 167); */
    display: block;
    margin-bottom: 10px ;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

}



/* .collapsible label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
} */

/* .collapsible .collapsible-text{
    max-height: 300px;
} */

.slide-down {
    animation: 1s slide-down;
    }
    @keyframes slide-down {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: 0%;
    }
}

.slide-up {
    animation: 1.5s slide-up;
    }
    @keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}