
.progress{
    /* border:2px solid white; */
    width: 110px;
    height: 110px;
    line-height: 120px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid  rgb(212, 212, 212);
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left{
    left: 0;
}

.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;

}


.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius:80px ;
    border-bottom-right-radius:80px ;
    border-left: 0;
    transform-origin: center left;
    -webkit-transform-origin: center left;
}

.progress .progress-right{
    right: 0;
}


.progress .progress-right .progress-bar{
    right: 100%;
    border-top-left-radius:80px ;
    border-bottom-left-radius:80px ;
    border-right: 0;
    transform-origin: center right;
    -webkit-transform-origin: center right;
    animation: loading-1 1.3s linear forwards;
}

.progress .progress-value{
    width: 100%;
    height: 100%;
    /* font-size: 20px; */
    text-align: center;
    margin-bottom: 20px;
    
    position: absolute;
}



/* add color */


/*  BAR */

.progress.first .progress-bar{
    border-color: rgb(22 163 74) ;
}

.progress.first .progress-left .progress-bar{
    animation: loading-2 1s linear forwards 1.3s;
}

@keyframes loading-1 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(105deg);
        -webkit-transform: rotate(105deg);
    }
}

